language: php
dist: bionic

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - composer install --prefer-source
  - mkdir -p ./build/coverage

script:
  - |
    if [ "x$COVERAGE" == "xyes" ]; then
       ./vendor/bin/phpunit -v --configuration ./tests/travis/$DB.travis.xml --coverage-php ./build/coverage/coverage-$DB-$TRAVIS_PHP_VERSION-2.7.cov
    else
       ./vendor/bin/phpunit -v --configuration ./tests/travis/$DB.travis.xml
    fi

after_script:
  - ./vendor/bin/phpcov merge --clover ./build/logs/clover.xml ./build/coverage
  - ./vendor/bin/coveralls -v --exclude-no-stmt
  #Push code climate coverage
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  # Code should respect rules
  - composer check-quality-code

notifications:
  webhooks: https://coveralls.io/webhook?repo_token=$COVERALLS_WEBHOOK

jobs:
  include:
    #MySQL 8 - PHP7.2
    - stage: Test MySQL
      php: 7.2
      env: DB=mysql.docker MYSQL_VERSION=8.0
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #MySQLi8 - PHP7.2
    - stage: Test MySQLi
      php: 7.2
      env: DB=mysqli.docker MYSQL_VERSION=8.0
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #PostgreSQL 11 PHP7.2 Postgis 2.5
    - stage: Test PostgreSQL
      php: 7.2
      env: DB=pgsql POSTGRESQL_VERSION=11.0
      sudo: required
      addons:
        postgresql: "11"
        apt:
          packages:
            - postgresql-11
            - postgresql-client-11
            - postgis
            - postgresql-11-postgis-2.5
    #MySQL 8 PHP 7.3
    - stage: Test MySQL
      php: 7.3
      env: DB=mysql.docker MYSQL_VERSION=8.0
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #MySQLi 8 PHP 7.3
    - stage: Test MySQLi
      php: 7.3
      env: DB=mysqli.docker MYSQL_VERSION=8.0
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #PostgreSQL11 PHP 7.3 Postgis 2.5
    - stage: Test PostgreSQL
      php: 7.3
      env: DB=pgsql POSTGRESQL_VERSION=11.0
      sudo: required
      before_script:
        - bash ./tests/travis/install-postgres-11.sh
    #MySQL 5.7 PHP 7.4
    - stage: Test MySQL
      php: 7.4
      env: DB=mysql MYSQL_VERSION=5.7 COVERAGE=yes
      services:
        - mysql
    #MySQL 8 PHP 7.4
    - stage: Test MySQL
      php: 7.4
      env: DB=mysql.docker MYSQL_VERSION=8.0 COVERAGE=yes
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #MySQLi5.7 PHP 7.4
    - stage: Test MySQLi
      php: 7.4
      env: DB=mysqli MYSQL_VERSION=5.7 COVERAGE=yes
      services:
        - mysql
    #MySQLi8 PHP 7.4
    - stage: Test MySQLi
      php: 7.4
      env: DB=mysqli.docker MYSQL_VERSION=8.0 COVERAGE=yes
      sudo: required
      services:
        - docker
      before_script:
        - bash ./tests/travis/install-mysql-8.0.sh
    #PostgreSQL9.6 PHP7.4 Postgis 2.5
    - stage: Test PostgreSQL
      php: 7.4
      env: DB=pgsql POSTGRESQL_VERSION=9.6 COVERAGE=yes
      addons:
        postgresql: "9.6"
        apt:
          packages:
            - postgis
            - postgresql-9.6-postgis-2.5
    #PostgreSQL10 PHP7.4 Postgis 2.5
    - stage: Test PostgreSQL
      php: 7.4
      env: DB=pgsql POSTGRESQL_VERSION=10.0 COVERAGE=yes
      sudo: required
      addons:
        postgresql: "10"
        apt:
          packages:
            - postgresql-10
            - postgresql-client-10
            - postgis
            - postgresql-10-postgis-2.5
    #PostgreSQL11 PHP7.4 Postgis 2.5
    - stage: Test PostgreSQLPOLYG
      php: 7.4
      env: DB=pgsql POSTGRESQL_VERSION=11.0 COVERAGE=yes
      sudo: required
      addons:
        postgresql: "11"
        apt:
          packages:
            - postgresql-11
            - postgresql-client-11
            - postgis
            - postgresql-11-postgis-2.5
