<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="./tests/CrEOF/Spatial/Tests/TestInit.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
        >

    <testsuites>
        <testsuite>
            <directory>./tests/CrEOF/Spatial/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="db_type" value="pdo_pgsql"/>
        <var name="db_host" value="localhost" />
        <var name="db_username" value="postgres" />
        <var name="db_password" value="" />
        <var name="db_name" value="spatial_tests" />
        <var name="db_port" value="5432" />
        <var name="opt_mark_sql" value="true" />        <!-- Execute dummy SELECT statement before each test to mark DB query log -->
        <var name="opt_use_debug_stack" value="true" /> <!-- Enable SQLLoggerStack and query logging exception in tests -->
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/</directory>
            <exclude>
                <directory suffix=".php">./tests/CrEOF/Spatial/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
