<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="./tests/CrEOF/Spatial/Tests/TestInit.php"
        >

    <testsuites>
        <testsuite>
            <directory>./tests/CrEOF/Spatial/Tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <include>
            <group>postgresql</group>        <!-- Tests specific to PostgreSQL -->
            <group>php</group>               <!-- Tests for PHP type objects -->
            <group>result_processing</group> <!-- Tests for lexer/parser/reader -->
            <group>geometry</group>          <!-- Tests for geometry types -->
            <group>dql</group>               <!-- Tests for DQL functions -->
            <group>geography</group>         <!-- Tests for geography types -->
            <group>srid</group>              <!-- Tests for SRID functionality -->
        </include>
        <exclude>
            <group>mysql</group>             <!-- Test specific to MySQL -->
        </exclude>
    </groups>

    <php>
        <var name="db_type" value="pdo_pgsql"/>
        <var name="db_host" value="localhost" />
        <var name="db_username" value="postgres" />
        <var name="db_password" value="" />
        <var name="db_name" value="spatial_tests" />
        <var name="db_port" value="5432" />

        <!-- Database for temporary connections (i.e. to drop/create the main database) -->
        <var name="tmpdb_type" value="pdo_pgsql"/>
        <var name="tmpdb_host" value="localhost"/>
        <var name="tmpdb_username" value="postgres"/>
        <var name="tmpdb_password" value=""/>
        <var name="tmpdb_name" value="doctrine_tests_tmp"/>
        <var name="tmpdb_port" value="5432"/>
    </php>
</phpunit>
